/* colors */
td:hover i { background: #eee; }
.fromTo, #dp #sel1 i, td.range i {
	*background: #42A5F5;
	background: #3bb;
	*background: hotpink;
	*background: #0c0;
	*background: #f60;
	*background: orange;
	*background: #222;
}

td.range i { opacity:.6; }
#sel1 i { opacity:1; }
#sel2 i { background: #FF4081; background: hotpink; opacity:1; }





/* OTHER */

.clear { clear: both; }
#cal { width: 640px; margin-top:60px; }
#cal {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cal *, #cal *:before, #cal *:after { box-sizing: border-box;  }
#dp table { border-collapse: collapse; cursor: default; width:100%; }

#dp .r_month { width:50%; display:inline-block; box-sizing: border-box; }
#dp { transition: transform .2s ease-in-out; transform: translateZ(0); }
#r_nav { z-index: 1; }

#dp:after { clear:both; display:block; content:''; } /* temp clear */

#r_cals { white-space: nowrap; overflow-x: hidden; }
#r_cals { border:1px solid #ddd; border-top: 0; }

/* temp -- add line to center */
#r_cals:after {
	content:'';
	display:block;
	height:100%;
	background: #ddd;
	position:absolute;
	left:50%;
	width:1px;
	margin-left:-1px;
	top:0;
}


#cal em, #cal i { font-style:normal; }

#dp td { text-align:center; vertical-align:middle; }
#dp td i { font-weight:300; }
#dp td i {
	display:block;
	position:relative;
	
	width:34px;
	height:34px;
	line-height:34px;
	
	border-radius:50%;
	_transition: all .2s ease;
}


/* MONTH TITLE */
.r_title {
	display:block;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 0;
	line-height:100%;
	font-weight:400;
	background: #fafafa;
	color:#666;
}

.r_title span {
	font-weight: 300;
	color:#aaa;
}

/* PADDING */
#dp td { padding: 5px; }



/* SPECIAL td stuff */
.notCurMonth { color: #aaa; }
#sel1, #sel2, .range { color:#fff; }


#sel1 i, #sel2 i { animation: bounce .2s ease-in-out 1; }

#dp thead td { 
	background:#fff;
	color:#aaa;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight: 300; 
	text-transform: uppercase;
}

#cal td:last-child { border-right:1px solid #ddd; }
#cal table:last-child td { border:0; }

#cal td.notCurMonth { background: #fafafa; }



/* TEMP */

.fromTo {
	width: 100%;
	color: #fff;
	padding:20px 0;
}

.fromTo .dateBox {
	width:50%;
	display: inline-block;
	text-align: center;
	font-size:14px;
	line-height:150%;
}

.dateBox.off { opacity: 0.5; }

.r_head {
	display: block;
	font-weight:300;
	color: rgba(255,255,255,0.7);
}

.r_date, .r_days {
	font-size: 16px;
	font-weight: 300;
}

.r_date {
	animation: fadeInOut 2s ease-in-out infinite;
}


.dateBox.off .r_date { animation: none; }
.dateBox.active .r_date { animation: none; }
.dateBox.active { animation: slide .5s ease-in-out 1; }
@keyframes slide {
	0% { transform: translateY(0); }
	50% { transform: translateY(50px); opacity:0; }
	100% { transform: translateY(0); opacity: 1; }
}

.fromTo { position: relative; }
.fromTo .dateBox.days {
	width: 120px;
	position: absolute; 
	left:50%;
	margin-left:-60px;

	z-index: 2;
	display: inline-block;
}

.days .r_days em { margin:0 8px; }

.r_dots {
	font-size: 32px;
	color: rgba(255,255,255,0.7);
	letter-spacing: 1px;
	vertical-align: middle;
}

@keyframes fadeInOut {
	0% { opacity:0; }
	50% { opacity: 1; }
	100% { opacity:0; }
}

@keyframes bounce {
	0% { transform: translateY(0); }
	20% { transform: translateY(5px); }
	40% { transform: translateY(-5px); }
	60% { transform: translateY(0); }
	100% { transform: translateY(0); }
}


/* cal nav */
#r_cals { position:relative; }

#r_nav {
	position:absolute;
	top:0px;
	font-size:50px;
	line-height:40px;
	width:100%;
	color:#aaa;
}

#r_nav i { display: block; padding:0px 15px; padding-bottom:3px; cursor: default; width:50%; }
#r_nav .prev { float:left; }
#r_nav .next { float:right; text-align:right; }
#r_nav i:hover { color:#333; }
#r_nav i:active { opacity:.5; }
#r_nav i.off { color:#ddd; cursor: not-allowed; }


/*
	MEDIA QUERIES
*/

/* desktop / mobile classes */
.hideDesk { display:none; }
.hideSmall {}



/* Media queries */
@media(max-width: 800px){
	.hideSmall { display:none; }
	.hideDesk { display:inline; }	
	
	#c { width:95% !important; }
	
	#cal { width:320px; }
	#cal .r_month { width:100%; }
	#r_cals:after { display: none; } /* temp middle line */

	.r_date { font-size:14px; }
	.r_head { font-size: 12px; }


	.fromTo .r_dots { display: none; }
	
	.fromTo .dateBox.days { width: auto; line-height:100%; }

	.dateBox.days em { font-size: 12px; margin:0; margin-right:5px; float:right; display:inline-block; _font-weight: 300; color: rgba(255,255,255,0.7); }
	.dateBox.days .r_head {  float:right; font-size: 12px; display:inline-block; }

	#cal .dateBox.days {
		margin:0; left:auto; right: auto;
		left:50%;
		top:10px;
		transform: translateX(-50%);
	}
	

	h1,h2,.sub { text-align:center; }
	#c .sub { font-size: 14px; letter-spacing:1px; color:#ccc; line-height:200%; }
	#cal { position:relative; margin: 0 auto; }


}