input { padding:5px 10px; }
#cal { width: 640px; margin-top:60px; }
#cal {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#dp table { border-collapse: collapse; cursor: default; width:100%; }

#dp .r_month { width:50%; display:inline-block; }
#dp { transition: transform .2s ease-in-out; transform: translateZ(0); }
#r_nav { z-index: 1; }

#dp:after { clear:both; display:block; content:''; } /* temp clear */

#r_cals { white-space: nowrap; overflow-x: hidden; border:1px solid #ddd; }


#cal em, #cal i { font-style:normal; }

#dp td { text-align:center; vertical-align:middle; }
#dp td:hover i { background: #eee; }
#dp td i { font-weight:300; }
#dp td i {
	display:block;
	position:relative;
	
	width:34px;
	height:34px;
	line-height:34px;
	
	border-radius:50%;
	transition: all .2s ease;
}


/* MONTH TITLE */
.r_title {
	display:block;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 0;
	line-height:100%;
	font-weight:400;
	background: #fafafa;
	color:#666;
}

.r_title span {
	font-weight: 300;
	color:#aaa;
}

/* PADDING */
#dp td { padding: 5px; }



/* SPECIAL td stuff */
.notCurMonth { color: #aaa; }
.sel1, .sel2, .range { color:#fff; }
#dp td.range i { background: #8cf; }
#dp td.sel1 i { background: #4cf; }
#dp td.sel2 i { background: hotpink; background:orange; }

.sel1 i, .sel2 i { animation: bounce .2s ease-in-out 1; }



#dp thead td { 
	background:#fff;
	color:#aaa;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight: 300; 
	text-transform: uppercase;
}

#cal td:last-child { border-right:1px solid #ddd; }
#cal table:last-child td { border:0; }

#cal td.notCurMonth { background: #fafafa; }





/* desktop / mobile classes */
.hideDesk { display:none; }
.hideSmall {}



/* Media queries */
@media(max-width: 800px){
	.hideSmall { display:none; }
	.hideDesk { display:inline; }
	/*
	#dp table { width:100%; }
	_#dp table:nth-child(2) { display:none; }
	#cal { width:320px; }
	*/
	
}



/* TEMP */

.fromTo * { display:block; font-style:normal; text-decoration:none; margin:0; padding:0; line-height:100%; font-weight:300; } /* normalize */


.fromTo {
	padding:15px 15px;
	padding:20px;
	background: #666;
	background: #3cc;
	background: royalblue;
	background: hotpink;
	color: #fff;
}
.fromTo div {
	vertical-align:top;
}

.fromTo .r_head { font-size:12px; color: rgba(255,255,255,0.7); margin-bottom: 5px; }

.fromTo .dateBox { width: 200px;  width:50%; }
.fromTo .dateBox { display: inline-block; }
#dateTo { border:0; margin-right:0; }

.r_monthYear { }

.fromTo:after { content:''; clear:both; display:block; }

.r_date, .r_space {
	font-size: 42px;
	float:left;
	display:block;
	font-weight: 300;
	letter-spacing:-2px;
	margin-right:10px; 
}

#dateTo .r_date {}

.r_space { /* min-height spacer */
	float:right;
	width:1px;
	overflow:hidden;
	display:inline-block;
}

.r_monthYear { font-size:18px; margin: 8px 0 2px 0; font-weight: 400; }
.r_day { color: rgba(255,255,255,0.7); font-size: 14px; }


.dateBox.off i { color: rgba(255,255,255,0.5); }



@keyframes bounce {
	0% { transform: translateY(0); }
	20% { transform: translateY(-3px); }
	50% { transform: translateY(3px); }
	100% { transform: translateY(0px); }
}


/* cal nav */
#r_cals { position:relative; }

#r_nav {
	position:absolute;
	top:2px;
	font-size:24px;
	width:100%;
	color:#aaa;
}

#r_nav i { display: inline-block; padding:9px 10px; line-height:100%; cursor: default; }
#r_nav .prev { }
#r_nav .next { float:right; }
#r_nav i:hover { color:#333; }
#r_nav i:active { transform:scale(0.9); }
#r_nav i.off { color:#ccc; cursor: not-allowed; }