/*
    COLOR
*/

// Primary colors
@color-primary: #2196f3;
@color-secondary: hotpink;
@color-text: #333;

// others
@color-halfbright: #888;
@color-bright: #ddd;
@color-brighter: #fafafa;
@color-brightest: #fff;

// calc based colors
@color-light: lighten(@color-primary, 40%);
